* {
    box-sizing: border-box;
  }
  

  /* ----------------------- Background Gradient Pulse ------------- */
  
  #gradient {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
  }
  
  /*----------------------------Welcome Page Only----------------------*/
  
  .btn-primary {
    background-color: #98BFA3;
    border-color: #98BFA3;
    margin-top: 50px;
  }
  
  .btn-primary:hover {
    background-color: #6C8773;
    border-color: #5F7866;
  }
  
  .btn-primary:active:focus {
    background-color: #41523F;
    border-color: #334031;
  }
  
  .glyphicon-off {
    font-size: 30px;
    margin-top: 6px;
  }
  
  /*---------------------------Main Page----------------------------*/
  
  html,
  body,
  #wrapper {
    width: 100%;
    height: 100%;
  }
  
  body {
    /* background-color: #000000; */
    padding: 0px;
    margin: 0px;
    font-family: 'Terrain';
    background-image: url("../images/harrypotterbackground.jpg");
  }
  
  .jumbotron h1 {
    font-size: 90px;
    text-align: center;
    color:black ;
    font-family: 'Times New Roman', Times, serif
  }
  
  .jumbotron {
    background: #F8FFFA;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    margin-top: 80px;
    height: 100%;
  }
  
  p {
    text-align: center;
  }
  
  /*question*/
  h3
  {
    font-family: Abyssopelagic;
    letter-spacing: 3px;
    word-spacing: 4px;
    margin-top: 45px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #61302F;
    margin-bottom: 40px;
    line-height: 40px;
  }
  
  /*answers*/
  h4
  {
    color: #F8FFFA;
    font-size: 40px;
    text-align: center;
    margin-bottom: 25px;
    background-color: rgba(138, 146, 178, 0.6);
    padding: 5px 0;
    border-radius: 5px;
  }
  
  /*timer*/
  h5
  {
    color: #343F38;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 40px;
    font-family: Abyssopelagic;
  }
  
  .answerImage {
    max-width: 700px;
    max-height: 500px;
    /*center image and limit size*/
    display: block;
    margin: 0 auto;
  }
  
  .answers {
    margin-top: 30px;
  }
  
  
  /* ------------------Media Queries ------------- */
  
  @media only screen and (max-width: 992px) {
    .jumbotron h1 {
      font-size: 90px;
    }
    .container .jumbotron {
      padding-left: 0px;
      padding-right: 0px;
    }
    .btn-primary {
      background-color: #98BFA3;
      border-color: #98BFA3;
      margin-top: 100px;
    }
    .glyphicon-off {
      font-size: 20px;
      margin-top: 5px;
    }
    .btn-primary {
      background-color: #98BFA3;
      margin-top: 20px;
    }
    h3/*question*/
    {
      font-size: 22px;
      line-height: 30px;
    }
    h5/*timer*/
    {
      font-size: 18px;
    }
    h4/*answers*/
    {
      font-size: 35px;
      margin-left: 10px;
      margin-right: 10px;
    }
    .answerImage {
      max-width: 400px;
      max-height: 3000px;/*center image and limit size*/
      margin: 0 auto;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .jumbotron {
      margin-top: 20px;
      max-height: 597px;
    }
    .jumbotron h1 {
      font-size: 40px;
    }
    h3/*question*/
    {
      letter-spacing: 0px;
      word-spacing: 2px;
      margin-top: 35px;
      text-align: center;
      font-size: 14px;
    }
    .glyphicon-off {
      font-size: 15px;
      margin-top: 0px;
    }
    h5/*timer*/
    {
      font-size: 10px;
    }
    h4/*answers*/
    {
      font-size: 20px;
      margin-left: 5px;
      margin-right: 5px;
    }
    .answerImage {
      max-width: 250px;
      /*center image and limit size*/
      max-height: 250px;
      display: block;
      margin: 0 auto;
    }
  }